{% extends "Plantilla.html" %}
{% load static %}
{% block Estilos %}

<head>
    <meta charset="UTF-8">
    <!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baja de Profesores</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_Altas_Bajas Profesores.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
{% endblock %}
{% block Titulo %}<title>BajaProfesores</title>{% endblock %}
{% block MenuDerecha %}
{% include "SideBar.html" %}
{% endblock %}
{% block Pantalla %}
{% if validacion == 'Exito' %}
    <div class="alert alert-success fade in alert-dismissible show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="font-size:25px">&times;</span>
        </button><strong>¡Exito!</strong> El profesor ha sido dado de bajo
    </div>
    {% elif validacion == 'Fallo' %}
    <div class="alert alert-danger fade in alert-dismissible show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" style="font-size:25px">&times;</span>
        </button><strong>¡Fallo!</strong> El profesor no esta registrado
    </div>
{% endif %}
<div class="der">
    <form action="/BajaProfesores/" class="R" method="POST">
        {% csrf_token %}
        <div class="form-group row R2">
            <label for="Numero de empleado" class="col-sm-1 col-form-label">Número de empleado</label>
            <input type="number" class="form-control col-sm-4 R3" id="numero_empleado" placeholder="1-2-3..." name="numero_empleado">
        </div>
        <div class="form-row R2">
            <div class="form-group col-md-4 text-center">
                <label for="Nom_A">Nombre (s)</label>
                <input type="text" class="form-control R3" id="Nom_A" name="Nom_A">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="AP_A">Apellido Paterno</label>
                <input type="text" class="form-control R3" id="AP_A" name="AP_A">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="AM_A">Apellido Materno</label>
                <input type="text" class="form-control R3" id="AM_A" name="AM_A">
            </div>
        </div>

        <!-- Por si nos arrepentimos y mejor tamos que ellos lo ingresen solos
            <div class="form-group row R2" >
                <label for="Est_A" class="col-sm-1 col-form-label"> Estado </label>
                <input type="text" class="col-sm-4 R3" id="Est_A">
            </div>
            <div class="form-group row R2" >
                <label for="Mun_A" class="col-sm-1 col-form-label"> Municipio </label>
                <input type="text" class="col-sm-4 R3" id="Mun_A">
            </div>
            -->
        <button type="submit" class="btn B1 " id="btn-Re_Al"> Dar de baja </button>
    </form>
</div>
</section>



{% endblock %}