{% extends "Plantilla.html" %} {% load static %} {% block Estilos %}
<meta charset="UTF-8">
<!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Calificaciones Profesores</title>
<link rel="stylesheet" href="{% static 'css/Calificaciones.css' %}"> {% endblock %} {% block Titulo %}
<title>Calificaciones</title>{% endblock %} {% block MenuDerecha %} {% include "SideBar.html" %} {% endblock %} {% block Pantalla %}
<!--Funcionalidades-->
<form action="" class="R" id="Cal_Prof">
    <p><label for="Alumno"> Profesor: @Profesor </label></p>
    <p><label for="Posgrado"> Numero de Empleado: @Numero  </label></p>
    <table class="table table-bordered table-hover R2" id="Cal_Prof">
        <thead class="T1 text-center">
            <tr>
                <th scope="col" rowspan="2">Grupo</th>
                <th scope="col" rowspan="2">Unidad</th>
                <th scope="col" rowspan="2">Alumno</th>
                <th scope="col" rowspan="2">Boleta</th>
                <th scope="col" colspan="4">Calificación</th>
            </tr>
            <tr>
                <th scope="col"> 1er </th>
                <th scope="col"> 2do </th>
                <th scope="col"> 3er </th>
                <th scope="col"> Final </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn B2" id="btn-Report_Cal_Prof"> Reporte </button>
</form>
{% endblock %}