{% extends "Plantilla.html" %} {% load static %} {% block Estilos %}
<meta charset="UTF-8">
<!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Calificaciones Profesores</title>
<link rel="stylesheet" href="{% static 'css/Calificaciones.css' %}"> {% endblock %} {% block Titulo %}
<title>Calificaciones</title>{% endblock %} {% block MenuDerecha %} {% include "SideBar.html" %} {% endblock %} {% block Pantalla %}
<!--Funcionalidades-->
<form action="" class="R" id="Cali_Alum" name="Cali_Alum" method="POST">
    {% csrf_token %}
    <input type="hidden" id="Funcion_1" name="Funcion">
    <input type="hidden" value="{{user.username}}" name="Prueba" id="Prueba">
    <p><label for="Alumno"> Alumno: @Alumno </label></p>
    <p><label for="Posgrado"> Posgrado: @Posgrado de Alumno  </label></p>
    <p><label for="Promedio"> Promedio: @Promedio de Alumno  </label></p>
    <table class="table table-bordered table-hover R2" id="T_Cal_A">
        <thead class="T1 text-center">
            <tr>
                <th scope="col" class="col-md-4">Unidad</th>
                <th scope="col" class="col-md-2">1er Parcial</th>
                <th scope="col" class="col-md-2">2do Parcial</th>
                <th scope="col" class="col-md-2">3er Parcial</th>
                <th scope="col" class="col-md-2">Final</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
        </tbody>
    </table>
    <a href="#" onclick="EnviarK()" class="btn B2 " id="btn-Kardex" value="Kardex">Kardex</a>
    <script type="text/javascript">
        function EnviarK() {
            document.getElementById('Funcion_1').value = "CargarPagina";
            var x = document.getElementById('Prueba').value;
            alert(x);
            var formulario = document.Cali_Alum;
            formulario.action = "/Kardex/";
            formulario.submit();
        }
    </script>
</form>
{% endblock %}