{% extends "Plantilla.html" %}
{% load static %}
{% block Estilos %}
<link rel="stylesheet" href="{% static 'css/Kardex.css' %}">
{% endblock %}
{% block Titulo %}<title>Calificaciones</title>{% endblock %}
{% block MenuDerecha %}
{% include "SideBar_JCE.html" %}
{% endblock %}
{% block Pantalla %}
            <form action="" class="R">
              <table class="table table-bordered table-hover R2" id="T_Kar">
                <thead class="T1 text-center">
                  <tr>
                    <th scope="col">Clave</th>
                    <th scope="col">Unidad</th>
                    <th scope="col">Profesor</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Calificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="col">  </th>
                    <th scope="col">  </th>
                    <th scope="col">   </th>
                    <th scope="col">   </th>
                    <th scope="col">   </th>
                    <th scope="col">   </th>
                  </tr>
                </tbody>
              </table>
              <button type="submit" class="btn B1" id="btn-Rep_Cal_JCE" > Reporte </button>
            </form>
{% endblock %}