{% extends "Plantilla.html" %}
{% load static %}
{% block Estilos %}
<link rel="stylesheet" href="{% static 'css/estilos_modulos.css' %}">
{% endblock %}
{% block Titulo %}
<title>Sistema Posgrado</title>
{% endblock %}
{% block Pantalla %}
<!-- Modulos Efrain  -->
<p>{{ user.first_name|upper }}</p>
<div class="Modulos">
  <div class="Alumnos">
    <div class="M">
      <div class="card-body justify-content-center">
        <img id="img-alumno" src="{% static 'assets/images/img_alumno.png' %}" alt="Login">
        <div class="d-flex justify-content-center">
          <a href="/Menu_P_A/" class="btn login_btn">Alumnos</a>
        </div>
      </div>
    </div>
  </div>

  <div class="Dep_posgrado">
    <div class="M">
      <div class="card-body justify-content-center">
        <img id="img-alumno" src="{% static 'assets/images/posgrado.png' %}" alt="Login">
        <div class="d-flex justify-content-center">
          <a href="/Menu_P_Dep/" class="btn login_btn">Departamento progrado</a>
        </div>
      </div>
    </div>
  </div>

  <div class="Gestion">
    <div class="M">
      <div class="card-body justify-content-center">
        <img id="img-alumno" src="{% static 'assets/images/carpeta.png' %}" alt="Login">
        <div class="d-flex justify-content-center">
          <a href="/Menu_P_JCE/" class="btn login_btn">Gestión escolar</a>
        </div>
      </div>
    </div>
  </div>


  <div class="Coordinadores">
    <div class="M">
      <div class="card-body justify-content-center">
        <img id="img-alumno" src="{% static 'assets/images/reunion.png' %}" alt="Login">
        <div class="d-flex justify-content-center">
          <a href="/Menu_P_Prof/" class="btn login_btn">Coordinadores de posgrado/Profesores</a>
        </div>
      </div>
    </div>
  </div>

  <div class="Sepi">
    <div class="M">
      <div class="card-body justify-content-center">
        <img id="img-alumno" src="{% static 'assets/images/recepcionista.png' %}" alt="Login">
        <div class="d-flex justify-content-center">
          <a href="/Menu_P_SP/" class="btn login_btn">Jefatura de SEPI</a>
        </div>
      </div>
    </div>
  </div>


  <div class="Admin">
    <div class="M">
      <div class="card-body justify-content-center">
        <img id="img-alumno" src="{% static 'assets/images/estructura.png' %}" alt="Login">
        <div class="d-flex justify-content-center">
          <a href="/Matriz_R-F/" class="btn login_btn">Administración</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}