{% extends "Plantilla.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- sirve para que nuestra pagina se vea bien en todos los dispositivos -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos_modulos.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.j' %}s"></script>
</head>
<body>

 <!-- Modulos  -->
 <div class="Modulos">
          <div class="Alumnos">
              <div class="M">
                <div class="card-body justify-content-center">
                  <img id="img-alumno" src="{% static 'assets/images/img_alumno.png' %}" alt="Login">
                    <div class="d-flex justify-content-center">
                      <input type="submit" value="Alumnos" class="btn login_btn">
                    </div>
                </div>
              </div>
            </div>

          <div class="Dep_posgrado">
          <div class="M">
            <div class="card-body justify-content-center">
              <img id="img-alumno" src="{% static 'assets/images/posgrado.png' %}" alt="Login">
                <div class="d-flex justify-content-center">
                  <input type="submit" value="Departamento progrado" class="btn login_btn">
                </div>
            </div>
          </div>
        </div>

          <div class="Gestion">
            <div class="M">
              <div class="card-body justify-content-center">
                <img id="img-alumno" src="{% static 'assets/images/carpeta.png' %}" alt="Login">
                  <div class="d-flex justify-content-center">
                    <input type="submit" value="Departamento progrado" class="btn login_btn">
                  </div>
              </div>
            </div>


            <div class="Coordinadores">
              <div class="M">
                <div class="card-body justify-content-center">
                  <img id="img-alumno" src="{% static 'assets/images/reunion.png' %}" alt="Login">
                    <div class="d-flex justify-content-center">
                      <input type="submit" value="Coordinadores de posgrado" class="btn login_btn">
                    </div>
                </div>

                </div><div class="Sepi">
                  <div class="M">
                    <div class="card-body justify-content-center">
                      <img id="img-alumno" src="{% static 'assets/images/recepcionista.png' %}" alt="Login">
                        <div class="d-flex justify-content-center">
                          <input type="submit" value="Jefatura de SEPI" class="btn login_btn">
                        </div>
                    </div>
                  </div>
</div>

  </body>
  </html>

  