{% load static %}
<nav class="sidebar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Para hacer el Menu en un solo boton al ser pequeña la pantalla -->
        <button class="navbar-toggler B1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon B1"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <ul class="M1">
                    <li>
                        <a href="#" class="alumnos-btn">Alumnos &nbsp<span class="icon-down-open"></span></a>
                        <ul class="alumnos-show">
                            <li><a href="/Reg_Alum/">Inscripción</a></li>
                            <li><a href="/Reinscripcion/">Reinscripción</a></li>
                            <li><a href="/Registro_Calificaciones/">Registrar Calificaciones </a></li>
                            <li><a href="/Calificacion_Alumno/">Consultar Calificaciones </a></li>
                            <li><a href="/Sol_Col_P/">Solicitudes al Colegio</a></li>
                            <li><a href="/Rep_Tu/">Respuesta a Solicitudes al Colegio</a></li>
                            <li><a href="/Rep_Tu/">Comité Tutorial</a></li>
                            <li><a href="/Reg_Alum/">Consultar Alumnos </a></li>
                            <li><a href="/Expediente/">Expediente Académico </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="profesor-btn">Profesor &nbsp<span class="icon-down-open"></span></a>
                        <ul class="profesor-show">
                            <li><a href="/AltaProfesores/">Alta de Profesor</a></li>
                            <li><a href="/BajaProfesores/">Baja de Profesor</a></li>
                            <li><a href="/AsignarU-P/">Asignar Unidades </a></li>
                            <li><a href="/Actas/">Actas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="unidades-btn">Unidades &nbsp<span class="icon-down-open"></span></a>
                        <ul class="unidades-show">
                            <li><a href="/AltaUnidades/">Alta de Unidad</a></li>
                            <li><a href="/BajaUnidades/">Baja de Unidad</a></li>
                        </ul>
                    </li>
                    <li><a href="/Formatos/">Formatos</a></li>
                    <li><a href="/Matriz_R-F/">Administración</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>