body {
    background: url(fondo_escudo.jpg);
    width: 100%;
}

.R2 {
    margin-top: 50px;
    font-family: 'Roboto';
}

.R3 {
    margin-left: 40%;
}

.R4 {
    border-radius: 50px;
    margin-left: 2%;
    border: 1px solid #000;
    height: 27px;
}

.B1 {
    margin-left: 10%;
    background-color: #672445;
    width: 300px;
    color: #B595A4;
    border-radius: 20px;
}

.T1 {
    background-color: #672445;
    color: #B595A4;
}

.B2 {
    margin-left: 40%;
    background-color: #672445;
    color: #B595A4;
    border-radius: 20px;
    width: 25%;
    margin-top: 30px;
}

#inputRol {
    border-radius: 20px;
    width: 500px;
}

.Formato {
    margin-left: 10%;
    margin-right: 10px;
}